@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
    ViewBag.BodyClass = "insideTemplate";
}
<div class="landing">
    <div class="pageRow pageRowTop">
        <div class="pageRowInner">
            <!-- start: header -->
            @Html.Partial("~/Views/Partials/Branding.cshtml")

            <!-- start: nav -->
            <div id="header">
                @Html.Partial("~/Views/Partials/Navigation.cshtml")
            </div>
            <!-- end: nav -->
            <!-- end: header -->
            <!-- start: container -->
            <div class="container">

                <!-- This issue is related to the issue in the CS file -->
                <div class="container-2">

                    <div class="globalBanner">
                        @Html.Partial("~/Views/Partials/Breadcrumb.cshtml")
                        <div class="banner-content-text-2">
                            @if (Model.Content.HasValue("mainImage"))
                            {
                                var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("mainImage"));
                                <img src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                            }
                            <h1>@Model.Content.GetPropertyValue("title")</h1>
                            @if (Model.Content.HasValue("summary"))
                            {
                                <div class="topText">
                                    <div class="module moduleWysiwyg">
                                        <div class="moduleContent">
                                            @Model.Content.GetPropertyValue("headerSummary")
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="bannerEdge"></div>

                        @Html.Partial("~/Views/Partials/ContentControls.cshtml")

                    </div>

                    <!-- start: content -->
                    <div id="content">
                        <div id="contentInner">

                            <div class="content">

                                <!-- wysiwyg -->

                                <div class="wysiwyg">

                                    <div class="module moduleWysiwyg">
                                        <div class="moduleContent">

                                          @*  <h2 class="landingTitle">@Model.Content.Name</h2>*@

                                            <div class="module moduleNews moduleNewsList">
                                                @{
                                                    string thumbnailImage = "";
                                                    
                                                    var postDate = "";

                                                    var listChildren = Model.Content.Children.Where("Visible");

                                                    <ul class="">
                                                        @foreach (var child in listChildren)
                                                        {
                                                            if (child.HasValue("date"))
                                                            {
                                                                postDate = umbraco.library.FormatDateTime(child.GetPropertyValue("date").ToString(), "d MMMM yyyy");
                                                            }
                                                                
                                                            if (child.HasValue("thumbnailImage"))
                                                            {
                                                                var image = Umbraco.TypedMedia(child.GetPropertyValue("thumbnailImage"));
                                                                thumbnailImage = image.GetPropertyValue<string>("umbracoFile");
                                                            }

                                                            <li class="item">
                                                                <div class="img-holder"><a href="@child.Url"><img class="img-shadow" src="@thumbnailImage"></a></div>
                                                                <div class="details">
                                                                    <h3>
                                                                        <a href="@child.Url">
                                                                            @child.GetPropertyValue("title")
                                                                        </a>
                                                                    </h3>                                                                        
                                                                    <div class="date">@postDate</div>
                                                                    <p>                                                                            
                                                                        @child.GetPropertyValue("summary")
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>                                                    
                                                }
                                            </div>

                                        </div><!--moduleContent-->
                                    </div><!--moduleWysiwyg-->
                                 


                                </div>



                                <!-- end wysiwyg -->

                            </div>

                        </div>
                        <!-- end: content-2 -->

                        <span class="clear"></span>

                    </div>
                    <!-- end: content -->

                    <div id="sideContent">
                        <!-- start: sideContent -->
                        @Html.Partial("~/Views/Partials/SideNavigation.cshtml")
                        @Html.Partial("~/Views/Partials/RegionalManagers.cshtml")
                        <!-- end: sideContent -->
                    </div>
                    <span class="clear"></span>
                </div>
                <!-- end: container2 -->

            </div>
            <!-- end: container -->
        </div>
        <!-- end: pageRowInner -->
    </div>
    <!-- end: pageRow pageRowTop -->

</div>