@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using PrimeSuper.Web.Classes;

@*Render the sitemap by passing the root node to the traverse helper*@
@Traverse(CurrentPage.AncestorsOrSelf(1).First())

@*Helper method to travers through all descendants*@
@helper Traverse(dynamic node)
{
@*Select visible children *@
    var items = node.Children.Where("Visible").Where("displayInHeaderNavigation == true");	

@*If any items are returned, render a list *@
    if (items.Any())
    {
    <div id="nav">
        <div style="width: 750px; float: left;">
            <h2 class="displaynone">Site navigation</h2>
            <ul class="clfx clfx01">
                @foreach (var item in items)
                {
                    <li>
                        <a href="@item.Url">@PrimeSuper.Web.Classes.Extensions.GetNavigationTitle(item)</a>

                        @*Run the traverse helper again *@
                        @Traverse(item)
                    </li>
                }
            </ul>
        </div>
        @Html.Partial("~/Views/Partials/SearchBox.cshtml", new PrimeSuper.Web.Models.SearchBoxViewModel() { IsSideContent = false })
    </div>
    }
}